html,
body {
  height: 100%;
}

#main {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(192, 192, 192);
}

#main .control {
  width: 1000px;
  flex-basis: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .game {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#main .game .game-map {
  position: relative;
  width: 1000px;
  height: 90%;
  border: 2px solid #fff;
}

#main .game .game-map .train-node {
  position: absolute;
  width: 22px;
  height: 22px;
  background: #eee;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 2px;
}

#main .game .game-map .train-node .window-list {
  position: absolute;
  display: flex;
  left: 2px;
  right: 6px;
  bottom: 8px;
}

#main .game .game-map .train-node .window-list .window-item {
  width: 4px;
  height: 8px;
  background-color: #9ebed1;
  border: 1px solid #4b5f70;
  border-radius: 2px;
}

#main .game .game-map .train-node .window-list .window-item:last-child {
  margin-left: 2px;
}

#main .game .game-map .train-node .line {
  position: absolute;
  width: 16px;
  height: 3px;
  left: 1px;
  bottom: 3px;
  border-radius: 2px;
  background-color: #4b5f70;
}

#main .game .game-map .two {
  margin-left: 22px;
}
#main .game .game-map .three {
  margin-left: 44px;
}
